body{
    background-image: url(../images/pexels-기승-ki-19329504.png);
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.linkedin{
    display:grid; 
    border-radius:10% ; 
    background-color:#0077b5; 
    width:4rem; 
    height: 4rem;
}
.intext{
    margin-left: 25% ; 
    margin-top: 5% ; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
    font-size: 300%; 
    color: white;
}